@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.contact-container {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

.small-div {
  font-size: 25px;
  padding: 20px 0;
  text-align: center;
  height: 90px;
  width: 100%;
}

.contacts {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  padding: 30px 0;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.contact {
  border: 1px solid black;
  height: 220px;
  width: 250px;
  max-width: 250px;
}

.head {
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
}

.contact:hover {
  box-shadow: 0 5px 10px #444444;
}

.head-info {
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 7px 5px;
  text-align: center;
}

.email {
  position: relative;
  top: 30px;
}

.contact-icon {
  position: relative;
  bottom: 20px;
  display: flex;
  left: 100px;
}

.container-feedback {
  height: 450px;
  width: 100%;
}

.feedback-head {
  font-size: 20px;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackForm {
  margin: 20px 0;
}

.text-input {
  padding: 5px;
  border: 1px solid black;
  width: 500px;
  height: 35px;
  outline: none;
}

.email-input {
  padding: 5px;
  border: 1px solid black;
  margin: 0 70px;
  width: 350px;
  height: 35px;
  outline: none;
}

.send {
  border: none;
  background-color: white;
  font-size: 20px;
  margin: 0 170px;
  width: 150px;
  height: 35px;
}
.send:hover {
  border-radius: 50px;
  border: 1px solid white;
  background-color: black;
  color: white;
}


@media only screen and (max-width: 800px) {
  .contacts {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    padding: 30px 0;
    height: 800px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }

  .contact {
    border: 1px solid black;
    height: 220px;
    width: 250px;
    max-width: 250px;
  }

  .contact:nth-child(3) {
    position: relative;
    left: 0;
  }

  .head {
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
  }

  .contact:hover {
    box-shadow: 0 5px 10px #444444;
  }

  .head-info {
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    padding: 7px 5px;
    text-align: center;
  }

  .email {
    position: relative;
    top: 0;
  }

  .contact-icon {
    position: relative;
    bottom: 20px;
    display: flex;
    left: 100px;
  }

  .container-feedback {
      height: 450px;
      width: 100%;
  }

  .feedback-head {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .feedback {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feedbackForm {
    margin: 20px 0;
  }

  .text-input {
    width: 350px;
    height: 35px;
    outline: none;
  }

  .email-input {
    margin: 0 40px;
    width: 250px;
    height: 35px;
    outline: none;
  }

  .send {
    margin: 0 80px;
    width: 150px;
    height: 35px;
  }
}
