*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #24272e;
    height: 100%;
    width: 100%;
}

.footer-nav{
    padding: 10px;
    height: 70px;
    width: 100%;
}

.footer-ul{
    justify-content: center;
    display: flex;
}

.footer-ul li{
    padding: 12px;
     border-right: 1px solid black;
    list-style: none;
}
li:nth-child(3){
    border: none;
}
.footer-ul a{
   padding: 10px;
   color: white;
}


.moto{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer-info{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    height: 100%;  
}

.copy{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}



@media(max-width: 480px){
    .footer-ul a{
        font-size: 13px;
        padding: 10px;
         color: white;
     }
     
}