@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .home-container{
    margin-top:70px;

 }


body {
    overflow-x: hidden;
    width: 100%;
}


@media screen and (max-width: 767px) {
    .nav-tabs {
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;
    }
  }


.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #24272e;
}

.navbar.active {
    background-color: #24272e;
}

.open-menu {
    grid-gap: 4px;
    flex-direction: column;
    display: flex;
    display: none;
}

.open-menu div {
    background-color: white;
    height: 4px;
    width: 40px;
}


.navbar-list {
    margin: 0 60px;
    width: 500px;
    display: flex;
}

.navbar-list li {
    padding: 13px;
    list-style: none;
}

.navbar-list li a {
    align-items: center;
    font-size: 17px;
    padding: 10px 20px;
    display: flex;
    color: white;
    text-decoration: none;
}

.login {
    padding: 10px 0;
    list-style: none;
}

.sign {
    list-style: none;
}


#nav-form {
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 240px;
    height: 70px;
}

#nav-form-not-user{
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 240px;
    height: 70px;
}


.cart {
    margin: 0 -100px;
    padding: 20px 0;
    display: flex;
}

.counter-div {
    margin: 0 -10px;
    text-align: center;
    color: #24272e;
    border-radius: 50px;
    font-size: 20px;
    width: 25px;
    height: 27px;
    background-color: white;
}


.dropbtn {
    color: white;
    margin: 15px 0;
    background-color: #444444;
    padding: 9px 3px;
    font-size: 12px;
    border: none;
    width: 170px;
    height: 35px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    margin: -15px 0;
    display: none;
    background-color: #f1f1f1cf;

}
.dropdown-content a {
    color: black;
    padding: 7px 0;
    text-decoration: none;
    display: block;
}

.profile{
    background-color: #f1f1f1;
    padding: 0 45px;
    width: 170px;
    height: 35px;
}

.signOut{
    background-color: #f1f1f1;
    border: none;
    width: 170px;
    height: 35px;
}

.signOut:hover{
    border: 1px solid gray;
}
.dropdown:hover .dropdown-content {
    display: block;
}


#form {
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 140px;
    height: 20px;
}

#form li {
    list-style: none;
    margin: 20px 0;
}

.login {
    border-radius: 5px;
    background-color: white;
    padding: 3px 5px;
    height: 35px;
    font-size: 17px;
    text-decoration: none;
    color: black;
}




@media only screen and (max-width: 800px) {

    .open-menu {
        position: absolute;
        left: 10px;
        top: 20px;
        grid-gap: 4px;
        flex-direction: column;
        display: flex;
    }

    .open-menu div {
        display: block;
        background-color: white;
        height: 4px;
        width: 40px;
    }

    .navbar {
        position: fixed;
        top: 0;
        height: 70px;
        width: 100%;
        background-color: #24272e;
        justify-content: center;
    }

    .navbar.navbar.active {
        background-color: #24272e;
    }

    .navbar-list {
        margin: 0 0;
        opacity: 0.9;
        display: none;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        height: 200px;
        width: 100%;
        background-color: #24272e;
        padding: 6px 14px;
        transition: 1s;
    }

    .navbar-list li a {
        padding: 0;
        align-items: center;
        font-size: 17px;
        display: flex;
        color: white;
        text-decoration: none;
    }

    .navbar ul li {
        border-bottom: 2px solid white;
    }

    .counter-div {
        margin: 0 -10px;
        text-align: center;
        color: #24272e;
        border-radius: 50px;
        font-size: 19px;
        width: 25px;
        height: 27px;
        background-color: white;
    }

}