* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x : hidden;
    width: 100%;
}
.navbar {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #24272e;
}

.open-menu{
   grid-gap: 4px;
   flex-direction: column;
   display: flex;
   display: none;
}

.open-menu div{
    background-color: white;
    height: 4px;
    width: 40px;
}


.navbar-list {
    width: 500px;
    display: flex;
}

.navbar-list li {
    padding: 13px;
    list-style: none;
}

a {
    align-items: center;
    font-size: 17px;
    padding: 10px 20px;
    display: flex;
    color: white;
    text-decoration: none;
}


.login {
    padding: 10px 0;
    list-style: none;
}

.sign {
    list-style: none;
}

#form {
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 70px;
}
.counter-div{
    text-align: center;
    color: #24272e;
    border-radius: 50px;
    font-size: 20px;
    width: 25px;
    height: 27px;
    background-color:  white;
}



@media only screen and (max-width: 800px) {
    
    .open-menu{
        position: absolute;
        left: 10px;
        top: 20px;
        grid-gap: 4px;
        flex-direction: column;
        display: flex;
     }
     
     .open-menu div{
        display: block;
         background-color: white;
         height: 4px;
         width: 40px;
     }

     .navbar {
        position: relative;
        height: 70px;
        width: 100%;
        background-color: #24272e;
        justify-content: center;
    }
     
        .navbar-list{
        opacity: 0.9;
        display: none;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        height: 170px;
         width: 100%;
         background-color: #24272e;
         padding: 6px 14px;
         transition: 1s;
    }

    a {
        padding: 0;
        align-items: center;
        font-size: 17px;
        display: flex;
        color: white;
        text-decoration: none;
    }
    .navbar ul li{
        border-bottom: 2px solid white;
    }

    #form {
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-around;
        display: flex;
        height: 70px;
    }
    .login {
        padding: 20px 10px;
        list-style: none;
    }
}