*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-AddStaff{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.formStaff{
    margin: 50px 0;
    height: 400px;
    width: 450px;
    max-width: 500px;
    border: 2px solid  #232323;
}
label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.InputStaff{
    outline: none;
    margin: 10px;
    height: 40px;
    width: 400px;
}
.submitStaff{
    border: none;
    background-color: gold;
    outline: none;
    margin: 0 10px;
    width: 130px;
    height: 40px;
}


@media only screen and (max-width: 480px){
    .container-AddStaff{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }
    
    .formStaff{
        margin: 50px 0;
        height: 400px;
        width: 370px;
        max-width: 400px;
        border: 2px solid  #232323;
    }
    label{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
    .InputStaff{
        outline: none;
        margin: 10px;
        height: 40px;
        width: 350px;
    }
    .submitStaff{
        border: none;
        background-color: gold;
        outline: none;
        margin: 0 10px;
        width: 130px;
        height: 40px;
    }
    
}