* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-OrderList {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.ListDiv {
    width: 300px;
    height: 65px;
    background-color: #444444;
}

.listCard {
    color: white;
    padding: 10px 0;
    justify-content: space-around;
    display: flex;
}

.container-flex {
    display: flex;
}


.customer-div {
    margin: 0 20px;
    border-bottom: 1px solid white;
    background-color: #444444;
    width: 500px;
    height: 163px;
}

.container-info {
    justify-content: space-around;
    height: 163px;
    width: 500px;
    display: flex;
}

.info-div {
    padding: 10px;
    justify-content: space-around;
    width: 300px;
    display: flex;
}

.title-list {
    justify-content: space-around;
    height: 163px;
    width: 500px;
    justify-content: space-around;
    margin: 2px 0;
    display: flex;
}

.titles {
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
}

.titles p {
    padding: 3px 0;
}

.list p {
    padding: 3px 0;
}

.list {
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
}

.select-div {
    padding: 10px 0;
    height: 163px;
    width: 200px;
}

.select-input {
    flex-direction: column;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
}

.change-button{
    cursor: pointer;
    letter-spacing: 1px;
    color: black;
    font-size: 18x;
    background-color: rgba(255, 217, 0, 0.747);
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 40px 45px;
    width: 100px;
    height: 30px;
}


@media only screen and (max-width: 1024px) {
    .container-OrderList {
        margin: 10px 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .container-flex {
        flex-direction: column;
    }


    .ListDiv {
        width: 250px;
        height: 80px;
        background-color: #444444;
    }

    .listCard {
        font-size: 13px;
        color: white;
        padding: 6px 0;
        justify-content: space-around;
        display: flex;
    }


    .customer-div {
        margin: 10px 0;
        border-top: 1px solid white;
        background-color: #444444;
        width: 250px;
        height: 270px;
    }



    .container-info {
        height: 250px;
        width: 250px;
        flex-direction: column;
    }

    .info-div {
        width: 250px;
        display: flex;
    }

    .title-list {
        height: 250px;
        width: 250px;
        justify-content: space-around;
        padding: 10px 0;
        display: flex;
    }

    .titles {
        letter-spacing: 1px;
        color: white;
        font-size: 12px;
    }

    .titles p {
        padding: 3px 0;
    }

    .list p {
        padding: 3px 0;
    }

    .list {
        letter-spacing: 1px;
        color: white;
        font-size: 12px;
    }

    .select-div {
        padding: 0;
        margin-left: 20px;
        margin-bottom: 20px;
        height: 100px;
        width: 200px;
    }

    .select-input {
        font-size: 15px;
        border-radius: 50px;
        outline: none;
        border: none;
        width: 200px;
        height: 30px;
    }
    .change-button{
        margin: 15px 50px;
    }
}
