@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.meal-container{
    background-color: #444444;
}

.header{
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    background-color: #444444;
    padding: 20px;
}

.container-div {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.div {
    border-radius: 10px;
    position: relative;
    background-color: #24272e;
    height: 400px;
}

.image {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 200px;
    width: 100%;
}

.info {
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    height: 200px;
    width: 100%;

}

.food {
    color: white;
    font-size: 17px;
    margin: 10px 15px;
}

.add{
    font-size: 15px;
    border-radius: 50px;
    margin: 20px 50px;
    outline: none;
    border: none;
    background-color: rgba(255, 217, 0, 0.747);
    width: 120px;
    height: 40px;
}


@media only screen and (max-width: 1024px) {

    .container-grid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #444444;
        padding: 20px;
    }
    .container-div {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .div {
        border-radius: 10px;
        background-color: #24272e;
        height: 400px;
    }

    .image {
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: black;
        height: 180px;
        width: 100%;
    }

    .info {
        position: absolute;
        border-radius: 0 0 10px 10px;
        bottom: 0;
        height: 220px;
        width: 100%;

    }

    .food {
        letter-spacing: 2px;
        color: white;
        font-size: 15px;
        margin: 10px 10px;
    }

    .add{
        border-radius: 50px;
        margin: 20px 50px;
        outline: none;
        border: none;
        background-color: rgba(255, 217, 0, 0.747);
        width: 120px;
        height: 40px;
    }
}




@media only screen and (max-width: 800px) {

    .container-grid {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        background-color: #444444;
        padding: 20px;

    }

    .div {
        border-radius: 10px;
        background-color: #24272e;
        height: 400px;
    }

    .container-div {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .image {
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: black;
        height: 180px;
        width: 100%;
    }
    .info {
        position: absolute;
        border-radius: 0 0 10px 10px;
        bottom: 0;
        height: 220px;
        width: 100%;

    }

    .food {
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        margin: 10px 7px;
    }


    .add{
        color: black;
        border-radius: 50px;
        margin: 25px 50px;
        outline: none;
        border: none;
        background-color: rgba(255, 217, 0, 0.747);
        width: 120px;
        height: 40px;
    }
    

}


@media only screen and (max-width: 480px) {

    .container-grid {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        background-color: #444444;
        padding: 20px;

    }

    .div {
        border-radius: 10px;
        background-color: #24272e;
        height: 400px;
    }

    .container-div {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .image {
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: black;
        height: 180px;
        width: 100%;
    }
    .info {
        position: absolute;
        border-radius: 0 0 10px 10px;
        bottom: 0;
        height: 220px;
        width: 100%;

    }

    .food {
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        margin: 10px 7px;
    }


    .add{
        color: black;
        border-radius: 50px;
        margin: 15px 25px;
        outline: none;
        border: none;
        background-color: rgba(255, 217, 0, 0.747);
        width: 120px;
        height: 40px;
    }
    

}