*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headOrder{
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 42%;
}

.formHead{
    text-align: center;
}
.container-orderInfo{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.formOrder{
    box-shadow: 0 0 5px 0 #444444;
    background-color: white;
    position: relative;
    border-radius: 10px;
    margin: 50px 0;
    height: 450px;
    width: 300px;
    max-width: 500px
}

.container-tableInfo{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.formTableOrder{
    box-shadow: 0 0 5px 0 #444444;
    background-color: white;
    position: relative;
    border-radius: 10px;
    margin: 30px 0;
    height: 200px;
    width: 300px;
    max-width: 500px
}

.or{
    font-size: 20px;
    text-align: center;
}
.orderLabel{
    margin: 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
.OrderInput{
    border: 1px solid lightblue;
    outline: none;
    margin: 10px;
    height: 25px;
    width: 250px;
}
.submitOrder{
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 50px;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    left: 70px;
    bottom: 0;
    background-color: lightblue;
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 130px;
    height: 40px;
}
.submitOrder:hover{
    background-color: black;
    color: white;
}
.spanError{
    position: absolute;
    
}
.Error{
    color: red;
    font-size: 20px;
}

@media only screen and (max-width: 480px) {
    .headOrder{
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 20%;
    }
    
    .container-orderInfo{
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }
    
    .formOrder{
        box-shadow: 0 0 5px 0 #444444;
        background-color: white;
        position: relative;
        border-radius: 10px;
        margin: 50px 0;
        height: 450px;
        width: 250px;
        max-width: 500px
    }
    .orderLabel{
        margin: 0 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 17px;
    }
    .OrderInput{
        border: 1px solid lightblue;
        outline: none;
        margin: 10px;
        height: 25px;
        width: 230px;
    }
    .submitOrder{
        letter-spacing: 1px;
        border-radius: 50px;
        font-size: 17px;
        text-transform: uppercase;
        position: absolute;
        left: 50px;
        bottom: 10px;
        background-color: lightblue;
        border: none;
        outline: none;
        margin-bottom: 20px;
        width: 130px;
        height: 40px;
    }
    
    
}