*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reservation-container{
    width: 100%;
    
}

.display-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    margin: 70px 0;
    height: 100%;
    width: 700px;
    max-width: 700px;
}

.reservationForm{
    height: 292px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

.reservationInput{
    margin: 10px 0;
    padding: 0 10px;
    outline: none;
    width: 300px;
    height: 30px;
}

.reservationLabel{
    font-size: 20px;
    letter-spacing: 1px;
}
.reservationOption{
    letter-spacing: 2px;
    font-size: 15px;
    outline: none;
    width: 300px;
    height: 30px;  
}

.reservation{
    position: relative;
    top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    height: 40px;
    width: 150px;
    background-color: rgba(255, 217, 0, 0.747);
}

.reservationError{
    color: red;
}



@media only screen and (max-width: 800px){
    .form-container{
        margin: 50px 0;
        height: 100%;
        width: 700px;
        max-width: 700px;
    }

    .reservationForm{
        height: 600px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .reservationInput{
        padding: 0 10px;
        outline: none;
        width: 300px;
        height: 30px;
    }
    
    .reservationLabel{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .reservationOption{
        letter-spacing: 2px;
        font-size: 15px;
        outline: none;
        width: 300px;
        height: 30px;  
    }
    
.reservation{
    position: relative;
    top: 0;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    height: 40px;
    width: 150px;
    background-color: rgba(255, 217, 0, 0.747);
}

}

@media only screen and (max-width: 480px){
    .form-container{
        margin: 50px 20px;
        height: 100%;
        width: 700px;
        max-width: 700px;
    }

    .reservationForm{
        height: 450px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .reservationInput{
        padding: 0 10px;
        outline: none;
        width: 300px;
        height: 30px;
    }
    
    .reservationLabel{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .reservationOption{
        letter-spacing: 2px;
        font-size: 15px;
        outline: none;
        width: 300px;
        height: 30px;  
    }
    
.reservation{
    position: relative;
    top: 0;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    height: 40px;
    width: 150px;
    background-color: rgba(255, 217, 0, 0.747);
}

}
