*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-AddMenu{
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.formMenu{
    margin: 50px 0;
    height: 450px;
    width: 450px;
    max-width: 500px;
    border: 2px solid  #232323;
}
.menuLabel{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
.menuInput{
    outline: none;
    margin: 10px;
    height: 40px;
    width: 400px;
}
.submitMenu{
    background-color: gold;
    border: none;
    outline: none;
    margin: 0 10px;
    width: 130px;
    height: 40px;
}
.menuInputFile{
    color: black;
}

@media only screen and (max-width: 480px) {

    .container-AddMenu{
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
    }
    
    .formMenu{
        margin: 100px 0;
        height: 450px;
        width: 350px;
        max-width: 500px;
        border: 2px solid  #232323;
    }
    .menuLabel{
        margin: 0 10px;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
    }
    .menuInput{
        outline: none;
        margin: 10px 20px;
        height: 40px;
        width: 300px;
    }
    .submitMenu{
        background-color: gold;
        border: none;
        outline: none;
        margin: 0 10px;
        width: 130px;
        height: 40px;
    }
    .menuInputFile{
        color: black;
    }
    
}