*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-inventory{
   
    margin: 100px;
     position: relative;  
    width: 450px;
    max-width: 500px;
    height: 400px;
}




input{
    border-radius: 5px;
    outline: none;
    border: none;
    background: #dddddd;
    width: 400px;
    height: 40px;
    transition: background 0.2s ;
}
input:focus{
    background: #ffffff;
    border: 2px solid #dddddd;
}
label{
    font-size: 20px;
}

#submit{
    cursor: pointer;
    color: #ffffff;
    border: none;
    background-color: rgba(51, 51, 51, 0.747);
    font-size: 20px;
    width: 400px;
    height: 50px;
    letter-spacing: 2px;
}
#submit:hover{
    color: #ffffff;
    background-color: #333;
}



@media (max-width:600px) {
    /* .container{
        height: 320px;
        position: relative;
        box-shadow: 0 0 3px; 
        width: 350px;
        max-width: 370px;
    } */
    .form{
         width: 350px;
         height: 320px;
     }
   
     input{
         border-radius: 5px;
         outline: none;
         border: none;
         background: #dddddd;
         width: 300px;
         height: 40px;
         transition: background 0.2s ;
     }
     input:focus{
         background: #ffffff;
         border: 2px solid #dddddd;
     }
     label{
         font-size: 17px;
     }
    
     #submit{
         cursor: pointer;
         color: #ffffff;
         border: none;
         background-color: rgba(51, 51, 51, 0.747);
         font-size: 20px;
         width: 300px;
         height: 40px;
         letter-spacing: 2px;
     }
    
        
    }