*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading-img{
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dd-logo{
  border-radius: 50%;
  width: 250px;
  height: 200px;
}



@media only screen and (max-width: 1024px) {
  .loading-img{
    position: relative;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dd-logo{
    border-radius: 50%;
    width: 250px;
    height: 200px;
  }
  
}


@media only screen and (max-width: 480px) {
  .loading-img{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dd-logo{
    border-radius: 50%;
    width: 250px;
    height: 200px;
  }
  
}